<div class="fixed-top">
  <div (clickOutside)="closeNav($event)">
      <a class=" navbar-brand logo" href="http://localhost:4200">Achaia Natura</a>
       
      <div class="hamburger float-right navbar-brand" (click)="openNav($event)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>

      <a class="float-right language navbar-brand">EN</a>

    <div *ngIf="showNav" id="navbar" class="sidenav">
      <a (click)="closeNav($event)" class="closebtn">&times;</a>
      <a href="#">ΑΡΧΙΚΗ</a>
      <a href="#">ΣΥΧΝΕΣ ΕΡΩΤΗΣΕΙΣ</a>
      <a href="#">ΕΠΙΚΟΙΝΩΝΙΑ</a>
    </div>
  </div>
</div>