<div class="">
    <div class="fade-in">
        <img src="../../../assets/Images/YogaTree.jpg" class="oliveTree" alt="Olive tree">
    </div>
</div>
<div>
    <h3 class="container-fluid">
        Το Κτήμα
    </h3>
    <p>
        Το κτήμα achaianatura βρίσκεται στα νοτιοδυτικά σύνορα των Νομών Αχαΐας & Ηλείας, στον Αγ.
        Κωνσταντίνο Δ. Αχαΐας, στις δυτικές πλευρές του όρους της Μόβρης, βόρεια της λίμνης του πηνιού.</p>
    <p>
        Αναπτύσσεται σε λοφοσειρές, 100-150 μ. υψομέτρου, με τα καλλιεργήσιμα τμήματα γης να καταλήγουν σε
        ένα
        δίκτυο
        ρεμάτων.
    </p>
    <p>
        Στα πρανή αυτών των ρεμάτων η ακμάζουσα, αυτοφυής βλάστηση, από ψηλά φαντάζει εντυπωσιακά,
        σαν
        ένα
        δίκτυο γιγάντιων ριζών.
        - καλλιεργούνται ελαιόδεντρα ελαιοποιήσιμων ποικιλιών & δένδρα βρώσιμης ελιάς.
        - Παράγουμε
        - έξτρα παρθένο ελαιόλαδο βιολογικό & συμβατικό.
        - εξαιρετικές, διαλεκτές, βρώσιμες ελιές ποικιλίας καλαμών φυσικής εκπίκρανσης &
        - πάστα ελιάς που προέρχεται από διαλεκτές ελιές Καλαμών.

    </p>
    <p>
        Το περιβάλλον φυσικό τοπίο, λόγω διαμελισμού, χλωρίδας, & πανίδας, συνιστά ένα τοπίο ιδιαιτέρου
        φυσικού
        κάλλους.
    </p>
</div>